<% if audiences.any?  %>
  <section class="brexit-checker-actions">
    <% audiences.each do |audience| %>
      <% if audience[:groups].any? %>
        <header class="govuk-section__header">
          <h2 class="govuk-heading-l action-audience__heading">
            <%= audience[:heading] %>
          </h2>
        </header>
        <% audience[:groups].each do |group| %>
          <section class="brexit-checker-actions__group">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <%= render 'results_answers', answers: group[:criteria], heading: group[:heading] %>
              </div>
              <div class="govuk-grid-column-two-thirds">
                <%= render "action_list", {
                  audience_heading: group[:heading],
                  audience_index: group[:priority],
                  items: group[:actions]
                } %>
              </div>
            </div>
          </section>
        <% end %>
      <% end %>
    <% end %>
  </section>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body"><%= t("brexit_checker.action_audiences.no_results") %></p>
    </div>
  </div>
<% end %>