<a
  class="govuk-link"
  data-module="gem-track-click"
  data-track-action="ChangeAnswers"
  data-track-category="ChangeAnswersClicked"
  data-track-label="<%= transition_checker_questions_path %>"
  href="<%= transition_checker_questions_path %>"
>
  <%= t("brexit_checker.change_answers_link.link_text") %>
</a>
