<div class = "govuk-experiment">
  <%= render "govuk_publishing_components/components/inset_text", {} do %>
    <%= render "govuk_publishing_components/components/heading", {
        text: t('brexit_checker.experiment_banner.heading'),
        font_size: "m",
        heading_level: 2,
      } %>

    <% t('brexit_checker.experiment_banner.proposition').each do |prop| %>
      <p class="govuk-body">
        <%= prop %>
      </p>
    <% end %>
  <% end %>
</div>
