<section
  class="brexit-checker-actions"
  data-analytics-ecommerce
  data-ecommerce-start-index="1"
  data-list-title="Brexit checker results: <%= t('brexit_checker.results.audiences.business.heading') %>"
  data-search-query
>
  <section class="brexit-checker-audience">
      <header>
        <h2 class="govuk-heading-l action-audience__heading">
          <%= t('brexit_checker.results.audiences.business.heading') %>
        </h2>
      </header>
      <section class="brexit-checker-actions__group">
        <div class="govuk-grid-row">
          <%= render 'results_criteria', criteria: business_results[:criteria] %>
          <div class="govuk-grid-column-two-thirds">
            <%= render "action_list", {
              analytics_group: "#{t('brexit_checker.results.audiences.business.heading')} - 1.",
              actions: business_results[:actions]
            } %>
          </div>
        </div>
      </section>
  </section>
</section>
