<% if criteria.present? %>
  <aside class="govuk-grid-column-one-third">
    <div class="brexit-checker__criteria">
      <% if local_assigns[:heading] %>
        <h3 class="govuk-heading-m"><%= heading %></h3>
      <% end %>
      <p class="govuk-body">
        <%= t('brexit_checker.results.criteria.list_context') %>
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <% criteria.each do |criterion| %>
          <li><%= criterion.text %></li>
        <% end %>
      </ul>
    </div>
  </aside>
<% else %>
  <p class="govuk-body">
    <%= t('brexit_checker.results.criteria.no_answers') %>
  </p>
<% end %>
