<section class="brexit-checker__no-results">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'results_criteria', criteria: format_criteria(@criteria) %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body brexit-checker__no-results-warning">
        <%= t("brexit_checker.action_audiences.no_results") %>
      </p>
    </div>
  </div>
</section>