<section class="brexit-checker-actions">
  <% audiences.each do |audience| %>
    <section class="brexit-checker-audience">
      <% if audience[:groups].any? %>
        <header>
          <h2 class="govuk-heading-l action-audience__heading">
            <%= t('brexit_checker.results.audiences.citizen.heading') %>
          </h2>
        </header>
        <% audience[:groups].each.with_index do |group, group_index| %>
          <section class="brexit-checker-actions__group">
            <div class="govuk-grid-row">
              <%= render 'results_criteria', criteria: group[:criteria], heading: group[:heading] %>
              <div class="govuk-grid-column-two-thirds">
                <% analytics_group = "#{audience[:heading]} #{" - #{group[:heading]} - " if !group[:heading].nil?}#{group_index + 1}." %>
                <%= render "action_list", {
                  analytics_group: analytics_group,
                  priority: group[:priority],
                  actions: group[:actions]
                } %>
              </div>
            </div>
          </section>
        <% end %>
      <% end %>
    </section>
  <% end %>
</section>