<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-content">The accounts service is down and the change couldn't be saved, we need to design something for this error case.</p>
      </div>
    </div>
  </main>
</div>
