<%
  title ||= nil
  link_text ||= "Sign up to emails"
  data_attributes ||= {}
  description ||= nil
%>
<div class="app-c-email-link">
  <% if title %>
    <%= render "govuk_publishing_components/components/heading", {
      text: title,
      font_size: "m",
      margin_bottom: 2
    } %>
  <% end %>
  <%= tag.p description, class: "govuk-body" if description %>
  <%= render "govuk_publishing_components/components/button", {
    text: link_text,
    href: link_href,
    data_attributes: data_attributes,
  } %>
</div>
