<%
  link_text ||= "Sign up to emails"
  data_attributes ||= {}
%>
<div class="app-c-email-link">
  <% if link_title %>
    <p class="govuk-heading-m"><%= link_title %></p>
  <% end %>
  <svg class="app-c-email-link__icon" xmlns="http://www.w3.org/2000/svg" height="21" width="18" viewBox="0 0 18 21">
    <path d="M7.05,19.01C7.05,20.11,7.92,21,9,21c1.08,0,1.95-0.89,1.95-1.99H7.05z M15.73,14.82V9c0-3.25-2.2-5.97-5.18-6.69V1.59C10.56,0.71,9.86,0,9,0C8.14,0,7.44,0.71,7.44,1.59v0.72C4.47,3.03,2.27,5.75,2.27,9v5.82l-2.08,2.12V18h17.62v-1.06L15.73,14.82z"></path>
  </svg>
  <%= tag.a href: link_href, class:"app-c-email-link__link govuk-link", data: data_attributes do %>
    <%= link_text %>
  <% end %>
</div>
