<%
  link_text ||= "Sign up to emails"
  data_attributes ||= {}
%>
<div class="app-c-email-link">
  <% if link_title %>
    <%= render "govuk_publishing_components/components/heading", {
      text: link_title,
      font_size: "m",
      margin_bottom: 2
    } %>
  <% end %>
  <%= tag.a href: link_href, class:"app-c-email-link__link govuk-link", data: data_attributes do %>
    <%= link_text %>
  <% end %>
</div>
