/log/*.log
/.bundle
/tmp/
/.sass-cache/
.powrc
.rvmrc
.rbenv-version
/doc/
/public/assets/
/app/assets/builds/*
!/app/assets/builds/.keep
/coverage/*
node_modules
yarn-error.log
.env
credentials.json
token.yaml
