// scss-lint:disable IdSelector
#finder-frontend.advanced-search {
  header {
    margin: 0;
    margin-bottom: $gutter * 2;
  }

  .breadcrumb-wrapper,
  .title-and-metadata {
    padding-left: 0;
  }

  .taxon-link {
    @include bold-24;
  }

  .pub-c-title {
    margin-bottom: $gutter-half;
    margin-top: $gutter-half;
  }

  .filtered-results {
    .metadata-date-value {
      @include core-14;
    }

    .result-info {
      @include core-24;
    }
  }

  .full-page-width-wrapper,
  .filtering.full-page-width-wrapper {
    @extend %site-width-container;
  }
}

.full-width #wrapper {
  margin: 0;
  max-width: 100%;
  width: auto;
}

.full-width #global-header-bar {
  display: none;
}
// scss-lint:enable IdSelector
