#finder-frontend {
  header {
    margin: 0;
    margin-bottom: $gutter * 2;

    .title-and-metadata {
      .taxon-link {
        @include bold-24;
      }
      .pub-c-title {
        margin-bottom: $gutter-half;
        margin-top: $gutter-half;
      }
    }
  }

  .advanced-search {
    .filtered-results {
      .result-info {
        @include core-24;
      }
    }
  }
}

// scss-lint:disable IdSelector
.full-width #wrapper {
  margin: 0;
  max-width: 100%;
  width: auto;
}

.full-width #global-header-bar {
  display: none;
}

.full-page-width-wrapper,
#finder-frontend .filtering.full-page-width-wrapper {
  margin: $gutter-half auto;
  max-width: 960px;
}
// scss-lint:enable IdSelector

.breadcrumb-wrapper {
  padding: 0 $gutter-half;
}
