.brexit-checker-results-page {
  .govuk-section-break--bold {
    border-bottom: 3px solid govuk-colour('blue');
  }

  .govuk-section-break--visible-mobile-only {
    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  .brexit-checker-actions__description {
    padding: govuk-spacing(4);
    background-color: govuk-colour('grey-4');
  }

  .stay-updated__heading,
  .action-audience__heading {
    @include govuk-font($size: 27, $weight: bold);

    @include govuk-media-query($until: tablet) {
      @include govuk-font($size: 36, $weight: bold);
      @include govuk-responsive-margin(6, "bottom");
    }
  }
}
