.browse-header {
  position: relative;
  margin: 0;
  padding: govuk-spacing(6) 0 govuk-spacing(3);
  overflow: visible;
}

.second-level-taxon-result {
  width: 100% !important;
  display: inline-block;
}
