.checklist-results-page {
  .govuk-list--checked {
    list-style: none;
  }

  .govuk-list--checked li:before {
    content: '✓';
    padding-right: govuk-spacing(2);
    color: govuk-colour('green');
  }

  .govuk-tag--muted {
    background-color: govuk-colour('grey-4');
    color: govuk-colour('black');
  }
}
