main.search {
  padding-bottom: 30px;

  @include media(tablet) {
    padding-bottom: 60px;
  }

  h1 {
    @include core-24;
    font-weight: bold;
    padding-bottom: 10px;
  }

  strong {
    font-weight: 600;
  }

  .search-header {
    position: relative;
    margin: 0;
    padding: $gutter 0 $gutter / 2;
    overflow: visible;

    @include media(tablet) {
      padding: ($gutter * 1.5) 0 $gutter;
      width: 66.666%;
    }

    .searchfield {
      position: relative;
    }

    .search-input {
      position: static;
      margin: 0;
      padding: 0 50px 0 0;

      @include ie(7) {
        padding-right: 62px;
      }
    }

    .search-submit {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50px;
      width: 50px;
      overflow: visible;
    }

    input[type="search"] {
      border: 1px solid #bbb;
      min-width: 8em;
    }

    input {
      -webkit-appearance: none;
      border-radius: 0;
      @include core-19;
      @include box-sizing(border-box);
      width: 100%;
      margin: 0;
      padding: 0 0 0 10px;
      display: block;
      height: 50px;
      border-color: $border-colour;
      border-right: none;
      line-height: 48px!important;

      @include ie-lte(7) {
        height: 48px;
        margin-bottom: -1px;
      }
    }

    button {
      @include border-radius(0);
      @include box-shadow(none);
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border: none;
      overflow: hidden;
      text-indent: -5000px;
      color: $white;
      background-color: $light-blue;
      background-image: image-url("search/search-button.png");
      background-repeat: no-repeat;
      background-position: -12.5% 50%;
      &:hover {
        background-color: darken($light-blue, 5%);
      }
    }

    .spelling-suggestion p {
      @include core-16;
      margin: 0;
      padding: 10px 0 0;
    }
  }

  #results {
    @extend %contain-floats;

    @include media(tablet){
      margin: 0 -15px;
    }

    .inner-block {
      @include media(tablet){
        padding: 0 15px;
      }
    }

    .filter-form {
      @include media(tablet){
        float: left;
        width: $one-third;
      }

      .info {
        margin: 0 0 15px;
      }
      .submit {
        .js-enabled & {
          display: none;
        }
      }
    }
    .results-block {
      @include media(tablet){
        float: left;
        width: $two-thirds;
      }

      mark {
        background-color: transparent;
        color: inherit;
        font-weight: bold;
      }

      .result-count {
        padding: 0;
      }
      .scoped-result-count {
        @include media(tablet){
          font-size:21px;
        }
        a {
          @include copy-16;
        }
      }
      .results-list {
        padding: 30px 0;
        list-style: none;
        margin: 0;

        &.debug {
          list-style: decimal;
          .sections {
            list-style: none;
          }
          .debug-link {
            color: green;
            word-wrap: break-word;
          }
          .debug-info {
            color: red;
            span {
              display: inline-block;
              min-width: 150px;
            }
          }
        }
        li {
          max-width: 32.5em;
          margin: 0;
          padding: 0 0 15px;

          @include media(tablet) {
            padding: 0 0 25px;
          }

          @include ie(6) {
            width: 32.5em;
          }

          .examples {
            padding-left: 15px;
            border-left: 1px solid grey;

            li {
              max-width: 32.5em;
              margin: 0;
              padding: 0 0 15px;

              p {
                @include core-14;
              }

            }

            li:last-child {
              padding: 0;
            }
          }

          h4 {
            @include core-14;
            margin: 0;

            a {
              font-weight: bold;
              text-decoration: none;

              &:hover, &:focus {
                color: $link-colour;
                text-decoration: underline;
              }
            }
          }

          h4.see-all a {
            text-decoration: underline;
          }
        }

        li.descoped-results {
          border-left: 4px solid $govuk-blue;
          padding: $gutter-half 0 0 $gutter-half;
          margin-bottom: $gutter;

          .descope-message {
            @include core-16;
          }

          ol {
            padding: $gutter-half 0 0;
          }
        }

        h3 {
          @include core-24;
          margin: 0;
          padding-bottom: 2px;

          a {
            font-weight: bold;
            text-decoration: none;

            &:visited mark {
              color: $link-visited-colour;
            }

            &:hover, &:focus,
            &:hover mark, &:focus mark {
              color: $link-colour;
              text-decoration: underline;
            }
          }
        }

        .sections {
          @include core-16;
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            margin: 0;
            padding: 3px 0 2px;
            float: left;
            width: 50%;
            @include media(tablet) {
              width: 40%;
            }
          }
        }

        .attributes {
          @include core-14;
          color: $secondary-text-colour;
          padding: 0 0 3px;
          margin: 0;

          li {
            display: inline;
            padding: 0;

            &:after {
              content:',';
              position: relative;
              left: -0.25em;
            }

            &:last-child::after {
              content:'';
            }
          }
        }

        p {
          @include core-16;
          margin: 0;
          padding: 0;

          &.historic,
          &.meta {
            @include core-14;
            padding: 0 0 3px;
            word-wrap: break-word;
            color: $secondary-text-colour;
          }
        }
      }

    }
    .zero-results {
      @include core-19;

      h2 {
        margin-top: $gutter;
        @include bold-24;
      }

      ul,
      p {
        margin-top: $gutter-half;
        margin-bottom: $gutter-half;
      }

      ul {
        list-style: disc;
        list-style-position: outside;
        margin-left: $gutter-two-thirds;
      }
    }
  }

  //  checkbox CSS imported here to ensure correct scoping

  .filter-form,
  .filtered-results {
    @include media(tablet) {
      float: left;
      width: $one-third;
    }
  }
  .filtered-results {
    @include media(tablet) {
      width: $two-thirds;
    }
  }

  .filter-form {
    p {
      @include core-16;
      margin-bottom: $gutter;
    }

    .filter {
      margin-bottom: $gutter-one-third;
      background-color:$grey-3;
      padding:5px;

      &:focus {
        outline: 3px solid #ffbf47;
      }

      .legend {
        @include core-19;
        @include inline-block;
        margin-right:40px;
        font-weight:bold;
      }
    }
    .radio-filter {
      padding: $gutter-one-third;

      label {
        margin-right:$gutter-one-third;
        @include inline-block;
      }
      input {
        width:14px;
      }
    }
  }

  .checkbox-filter {
    background-color: #dee0e2;
    padding: 5px;

    @include not-ie-lte(7) {
      .js-enabled & {
        .head {
          cursor:pointer;
        }
        .toggle {
          background: image-url('toggle-sprite-horizontal.png') no-repeat;
          height: 10px;
          width: 12px;
          background-position:-12px 0;
          @include inline-block;
        }
        &.closed {
          .checkbox-container {
            position:absolute;
            left:-9999px;
            padding:0;
            margin:0;
          }
          .toggle {
            background-position:0 0;
          }
        }
      }
    }

    /* Redefine scrollbars so they are always visible in scrolling checkbox lists */
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .head {
      @extend %contain-floats;
      padding: 5px;
      position:relative;

      .controls {
        display: none;

        .js-enabled & {
          position:absolute;
          right:5px;
          top:5px;
          display: inline;

          .clear-selected {
            @include inline-block;
            margin-right: 5px;

            &.js-hidden {
              left: -9999em;
              position: relative;
              height:0px;
              overflow:hidden;
            }
          }
        }
      }
    }
    .checkbox-container {
      position:relative;
      padding: 5px;
      background-color: $white;
      height:300px;
      overflow-y:scroll;
      overflow-x:hidden;

      ul {
        margin:0;
        padding:0;
        list-style:none;
        ul {
          padding-left: $gutter-two-thirds;
        }
      }
      li {

        label {
          @include inline-block;
          margin-left:20px;
        }
        /* IE6 doesn't support psuedo selectors so scoping to checkbox-container instead of using a psuedo selector */
        input {
          width: 12px;
          border:none;
          margin: 3px $gutter-one-third 0 0;
          vertical-align: top;
          position:absolute;
        }
      }
    }
  }
}

main.no-results-term {
  @include media(tablet) {
    h1 {
      @include core-48;
      font-weight: bold;
      padding-bottom: 15px;
    }
  }
}
