main.search {
  padding-bottom: 30px;

  @include media(tablet) {
    padding-bottom: 60px;
  }

  h1 {
    @include govuk-font(24);
    font-weight: bold;
    padding-bottom: 10px;
  }

  strong {
    font-weight: 600;
  }

  .search-header {
    position: relative;
    margin: 0;
    padding: govuk-spacing(6) 0 govuk-spacing(3);
    overflow: visible;

    @include media(tablet) {
      padding: govuk-spacing(8) 0 govuk-spacing(6);
      width: 66.666%;
    }

    h1 {
      color: govuk-colour("black");
    }
  }

  #results {
    .filter-form {
      .info {
        margin: 0 0 15px;
      }
      .submit {
        .js-enabled & {
          display: none;
        }
      }
    }
    .results-block {
      mark {
        background-color: transparent;
        color: inherit;
        font-weight: bold;
      }

      .result-count {
        padding: 0;
      }
      .scoped-result-count {
        @include media(tablet){
          font-size:21px;
        }
        a {
          @include copy-16;
        }
      }
      .results-list {
        padding: 30px 0;
        list-style: none;
        margin: 0;

        &.debug {
          list-style: decimal;
          .sections {
            list-style: none;
          }
          .debug-link {
            color: green;
            word-wrap: break-word;
          }
          .debug-info {
            color: red;
            span {
              display: inline-block;
              min-width: 150px;
            }
          }
        }
        li {
          margin: 0;
          padding: 0 0 15px;

          @include media(tablet) {
            padding: 0 0 25px;
          }

          @include ie(6) {
            width: 32.5em;
          }

          .examples {
            padding-left: 15px;
            border-left: 1px solid grey;

            li {
              max-width: 32.5em;
              margin: 0;
              padding: 0 0 15px;

              p {
                @include govuk-font(14);
              }

            }

            li:last-child {
              padding: 0;
            }
          }

          h4 {
            @include govuk-font(14);
            margin: 0;

            a {
              font-weight: bold;
              text-decoration: none;

              &:hover, &:focus {
                color: $govuk-link-colour;
                text-decoration: underline;
              }
            }
          }

          h4.see-all a {
            text-decoration: underline;
          }
        }

        li.descoped-results {
          border-left: 4px solid $govuk-blue;
          padding: govuk-spacing(3) 0 0 govuk-spacing(3);
          margin-bottom: govuk-spacing(6);

          .descope-message {
            @include govuk-font(16);
          }

          ol {
            padding: govuk-spacing(3) 0 0;
          }
        }

        h3 {
          @include govuk-font(24);
          margin: 0;
          padding-bottom: 2px;

          a {
            font-weight: bold;
            text-decoration: none;

            &:visited mark {
              color: $govuk-link-visited-colour;
            }

            &:hover, &:focus,
            &:hover mark, &:focus mark {
              color: $govuk-link-colour;
              text-decoration: underline;
            }
          }
        }

        .sections {
          @include govuk-font(16);
          margin: 0;
          padding: 0;
          overflow: hidden;

          li {
            margin: 0;
            padding: 3px 0 2px;
            float: left;
            width: 50%;
            @include media(tablet) {
              width: 40%;
            }
          }
        }

        .attributes {
          @include govuk-font(14);
          color: $govuk-secondary-text-colour;
          padding: 0 0 3px;
          margin: 0;

          li {
            display: inline;
            padding: 0;

            &:after {
              content:',';
              position: relative;
              left: -0.25em;
            }

            &:last-child::after {
              content:'';
            }
          }
        }

        p {
          @include govuk-font(16);
          margin: 0;
          padding: 0;

          &.historic,
          &.meta {
            @include govuk-font(14);
            padding: 0 0 3px;
            word-wrap: break-word;
            color: $govuk-secondary-text-colour;
          }
        }
      }

    }
    .zero-results {
      @include govuk-font(19);

      h2 {
        margin-top: govuk-spacing(6);
        @include govuk-font(24, $weight: bold);
      }

      ul,
      p {
        margin-top: govuk-spacing(3);
        margin-bottom: govuk-spacing(3);
      }

      ul {
        list-style: disc;
        list-style-position: outside;
        margin-left: govuk-spacing(4);
      }
    }
  }

  //  checkbox CSS imported here to ensure correct scoping

  .filtered-results {
    @include media(tablet) {
      float: left;
      width: $one-third;
    }
  }
  .filtered-results {
    @include media(tablet) {
      width: $two-thirds;
    }
  }

  .filter-form {
    p {
      @include govuk-font(16);
      margin-bottom: govuk-spacing(6);
    }

    .filter {
      margin-bottom: govuk-spacing(2);
      background-color: govuk-colour("grey-3");
      padding:5px;

      &:focus {
        outline: 3px solid #ffbf47;
      }

      .legend {
        @include govuk-font(19);
        display: inline-block;
        margin-right:40px;
        font-weight:bold;
      }
    }
  }
}

main.no-search-term {
  @include media(tablet) {
    h1 {
      @include govuk-font(48, $weight: bold);
      padding-bottom: 15px;
    }
  }
}
