<%= render "govuk_publishing_components/components/inset_text", {
  } do %>
<h2 id='gov-body'>There are different restrictions in <a class="govuk-link"
      href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a class="govuk-link"
      href="https://gov.wales/local-lockdown">Wales</a> and <a class="govuk-link"
      href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-and-localised-restrictions">Northern
      Ireland</a>.
</h2>
<% end %>

<p class="govuk-body">
  Enter the postcode of the place you want to find information about. For example where you live, work, or visit.
</p>
<p class="govuk-body">
  You can find out what you can or cannot do. Sometimes this is known as a ‘local lockdown’.</p>
<p class="govuk-body">
  Each area has a local alert level. There are 3 local alert levels. Areas in level 1 have the least restrictions
  and areas in level 3 have the most restrictions.
<p>