<div class="facet-tag-group">
{{#.}}
		<div class="facet-tag">
			<p>{{{preposition}}}</p>
			<p class="facet-tag">
				{{{text}}}
				<a href="{{{link.href}}}"
					class="remove-filter"
					data-facet="{{{link.data.facet}}}"
					data-value="{{{link.data.value}}}"
					data-name="{{{link.data.name}}}">x</a>
			</p>
    </div>
{{/.}}
</div>
