<div class="facet-tags__group">
  {{#.}}
  <div class="facet-tags__wrapper">
    <p class="facet-tags__preposition">{{{preposition}}}</p>
    <div class="facet-tag">
      <p class="facet-tag__text">{{{text}}}</p>
      <button type="button"
        class="facet-tag__remove"
        aria-label="Remove filter {{{text}}}"
        data-module="remove-filter-link"
        data-track-label="{{{data_track_label}}}"
        data-facet="{{{data_facet}}}"
        data-value="{{{data_value}}}"
        data-name="{{{data_name}}}">&#x2715;</button>
    </div>
  </div>
  {{/.}}
</div>
