<div class="facet-tag-group">
{{#.}}
		<div class="facet-tag">
			<p>{{{preposition}}}</p>


					<a href="{{{link.href}}}"
							class="remove-filter"
							data-facet="{{{link.data.facet}}}"
							data-value="{{{link.data.value}}}"
							data-name="{{{link.data.name}}}"><span>{{{text}}}</span> X</a>

			</p>
    </div>
{{/.}}
</div>
