<div class="govuk-checkboxes">
  <%= render "govuk_publishing_components/components/checkboxes", {
    name: checkbox_facet.name,
    margin_bottom: true,
    items: [
      {
        label: checkbox_facet.checkbox_label,
        value: checkbox_facet.value,
        id: checkbox_facet.id,
        checked: checkbox_facet.is_checked?,
        data_attributes: checkbox_facet.data,
        controls: "js-search-results-info"
      }
    ]
  } %>
</div>
