<div class="govuk-checkboxes">
  <% checkbox_facet.checkboxes.each do |checkbox| %>
    <div class="govuk-checkboxes__item">
      <%= check_box_tag checkbox_facet.name, checkbox.value, checkbox_facet.checked?(checkbox), class: "govuk-checkboxes__input", id: checkbox.id, data: checkbox.data, aria_controls: "js-search-results-info" %>
      <label class="govuk-label govuk-checkboxes__label" for="<%= checkbox.id %>">
        <%= checkbox.checkbox_label %>
      </label>
    </div>
  <% end %>
</div>
