<div class="govuk-checkboxes">
  <% checkbox_facet.checkboxes.each do |checkbox| %>
    <%= render "govuk_publishing_components/components/checkbox", {
      name: checkbox_facet.name,
      id: checkbox.id,
      controls: "js-search-results-info",
      margin_bottom: true,
      item: {
        label: checkbox.checkbox_label,
        value: checkbox.value,
        checked: checkbox_facet.checked?(checkbox),
        data_attributes: checkbox.data
      }
    } %>
  <% end %>
</div>
