<li class="document">
  <h3><a><%= link_to document.title, document.url %></a></h3>
  <dl>
    <dt>date</dt>
    <dd>2 December 2015</dd>
    <dt>case type</dt>
    <dd>Merger inquiry</dd>
  </dl>
</li>
