<li class="document{{#document.top_result}} document--top{{/document.top_result}}">
  {{#document.top_result}}<p>Most relevant result</p>{{/document.top_result}}
  <a href='{{document.link}}'
      class="document__link"
      data-track-category='navFinderLinkClicked'
      data-track-action='{{finder_name}}.{{document_index}}'
      data-track-label='{{document.link}}'
      data-track-options='{"dimension28":"{{page_count}}","dimension29":"{{document.title}}"}'
  >{{document.title}}</a>
  {{#document.summary}}
    <p>{{document.summary}}</p>
  {{/document.summary}}
  <dl>
    {{#document.show_metadata}}
      {{#document.metadata}}
        {{#is_text}}
          <dt class='metadata-label'>{{label}}:</dt>
          <dd class='metadata-text-value'>{{value}}</dd>
        {{/is_text}}

        {{#is_date}}
          <dt class='metadata-label'>{{label}}:</dt>
          <dd class='metadata-date-value'><time datetime='{{machine_date}}'>{{human_date}}</time></dd>
        {{/is_date}}
      {{/document.metadata}}
    {{/document.show_metadata}}
  </dl>
  {{#document.is_historic}}
    <p class="historic">First published during the {{document.government_name}}</p>
  {{/document.is_historic}}
</li>
