<div class="filter-form">
  <div class="inner-block">
    <p>You can use the filters to show only cases that match your interests</p>

    <form method="get" action="">
      <%= render facet_collection.facets %>
      <input type="submit" value="Filter results" class="button" />
    </form>
  </div>
</div>
