<div class="filter-form">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Search"
    },
    name: "keywords",
    value: @results.user_supplied_keywords,
    id: "finder-keyword-search",
    controls: "js-search-results-info"
  } if finder.show_keyword_search? %>

  <button type="button" class="gem-c-button govuk-button progressive-disclosure js-toggle-progressive-disclosed-elements">
    More search options
  </button>

  <div class="progressively-disclosed js-progressively-disclosed-facets">
      <%= render facet_collection.filters %>
  </div>
  <input type="submit" value="Filter results" class="button js-live-search-fallback"/>
</div>
