<button class="app-c-button-as-link app-mobile-filters-link js-show-mobile-filters"
  data-toggle="mobile-filters-modal"
  data-target="facet-wrapper"
  data-track-category="filterClicked"
  data-track-action="mobile-filter-button"
  data-track-label="">
    Filter <span class="govuk-visually-hidden"> results</span>
    <span class="js-selected-filter-count"><%= sanitize facet_tags.display_total_selected_filters %></span>
</button>
