<% content_for :head do %>
  <meta name="govuk:search-result-count" content="<%= result_set_presenter.total_count %>">
<% end %>

<div class="finder-results js-finder-results" data-module="track-click">
  <%= render "govuk_publishing_components/components/document_list", {
    items: local_assigns[:document_list_component_data],
    remove_underline: true
  } %>
</div>

<% if local_assigns[:zero_results] %>
  <%= link_to "ecommerce data", "www.gov.uk",
    class: "govuk-visually-hidden",
    :data => {
      :'ecommerce-content-id' => "99999999-9999-9999-9999-999999999999",
      :'ecommerce-row' =>"0"
    } %>

  <div class='no-results govuk-!-font-size-19'>
    <p class='govuk-body govuk-!-font-weight-bold'>There are no matching results.</p>
    <p class='govuk-body'>Improve your search results by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>removing filters</li>
      <li>double-checking your spelling</li>
      <li>using fewer keywords</li>
      <li>searching for something less specific</li>
    </ul>
  </div>
<% end %>
