<div class="facet js-openable-facet case-type" tabindex="0">
  <div class="head">
    <span class="legend">Case type</span>
    <div class="controls">
      <a class="clear-selected js-hidden">clear</a>
      <div class="toggle"></div>
    </div>
  </div>
  <div class="checkbox-container">
    <ul>
      <li>
        <input type="checkbox" name="ca98" id="ca89"><label for="ca89">CA89 and civil cartels</label>
      </li>
      <li>
        <input type="checkbox" name="cartels" id="cartels"><label for="cartels">Criminal cartels</label>
      </li>
      <li>
        <input type="checkbox" name="markets" id="markets"><label for="markets">Markets</label>
        <ul>
          <li>
            <input type="checkbox" name="markets" id="markets"><label for="markets">Phase 1</label>
          </li>
          <li>
            <input type="checkbox" name="mergers" id="mergers"><label for="mergers">Phase 2</label>
          </li>
        </ul>
      </li>
      <li>
        <input type="checkbox" name="mergers" id="mergers"><label for="mergers">Mergers</label>
        <ul>
          <li>
            <input type="checkbox" name="markets" id="markets"><label for="markets">Phase 1</label>
          </li>
          <li>
            <input type="checkbox" name="mergers" id="mergers"><label for="mergers">Phase 2</label>
          </li>
        </ul>
        </li>
      <li>
        <input type="checkbox" name="airport_price_control_reviews" id="airport_price_control_reviews"><label for="airport_price_control_reviews">Consumer enforcement</label>
      </li>
      <li>
        <input type="checkbox" name="market_investigations" id="market_investigations"><label for="market_investigations">Regulatory references and appeals</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Reviews of orders and undertakings</label>
      </li>
    </ul>
  </div>
</div>

<div class="facet js-openable-facet case-sector" tabindex="4">
  <div class="head">
    <span class="legend">Market sector</span>
    <div class="controls">
      <a class="clear-selected js-hidden">clear</a><div class="toggle"></div>
    </div>
  </div>
  <div class="checkbox-container">
    <ul>
      <li>
        <input type="checkbox" name="ca98" id="ca89"><label for="ca89">Agriculture, environment and natural resources</label>
      </li>
      <li>
        <input type="checkbox" name="cartels" id="cartels"><label for="cartels">Aerospace</label>
      </li>
      <li>
        <input type="checkbox" name="markets" id="markets"><label for="markets">Building and construction</label>
      </li>
      <li>
        <input type="checkbox" name="markets" id="markets"><label for="markets">Chemicals</label>
      </li>
      <li>
        <input type="checkbox" name="mergers" id="mergers"><label for="mergers">Clothing, footwear and fashion</label>
      </li>
      <li>
        <input type="checkbox" name="mergers" id="mergers"><label for="mergers">Communications</label>
      </li>
      <li>
        <input type="checkbox" name="markets" id="markets"><label for="markets">Defence</label>
      </li>
      <li>
        <input type="checkbox" name="mergers" id="mergers"><label for="mergers">Distribution and Service Industries</label>
      </li>
      <li>
        <input type="checkbox" name="airport_price_control_reviews" id="airport_price_control_reviews">
        <label for="airport_price_control_reviews">Electronics Industry</label>
      </li>
      <li>
        <input type="checkbox" name="market_investigations" id="market_investigations"><label for="market_investigations">Energy</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Engineering</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Financial services</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Fire, police and security</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Food manufacturing</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Giftware, jewellery and tableware</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Healthcare and medical equipment</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Household goods, furniture and furnishings</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Mineral extraction, mining and quarrying</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Motor Industry</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Oil and Gas refining and Petrochemicals</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Recreation and Leisure</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Paper printing and packaging</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Pharmaceuticals</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Public markets</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Retail and wholesale</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Telecommunications</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Textiles</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Transport</label>
      </li>
      <li>
        <input type="checkbox" name="remittals" id="remittals"><label for="remittals">Utilities</label>
      </li>
    </ul>
  </div>
</div>
