<div class="facet">
  <%= label_tag select_facet.key, select_facet.name %>
  <%= select_tag select_facet.key,
                 options_for_select(select_facet.values_for_select, select_facet.value),
                 class: 'single-row-select' %>

</div>
<div class="facet js-openable-facet">
  <div class='head'>
    <span class='legend'>Case type</span>
    <div class='controls'><a class='clear-selected js-hidden'>clear</a><div class='toggle'></div></div>
    </div>
  <div class='checkbox-container'>
    <ul>
      <li><input type='checkbox' name='ca98'id='ca89'><label for='ca89'>CA89</label></li>
      <li><input type='checkbox' name='cartels' id='cartels'><label for='cartels'>Cartels</label></li>
      <li><input type='checkbox' name='criminal_cartels' id='criminal_cartels'><label for='criminal_cartels'>Criminal cartels</label>
        <ul>
          <li><input type='checkbox' name='markets' id='markets'><label for='markets'>Markets</label></li>
          <li><input type='checkbox' name='mergers' id='mergers'><label for='mergers'>Mergers</label></li>
        </ul>
      </li>
      <li><input type='checkbox' name='airport_price_control_reviews' id='airport_price_control_reviews'><label for='airport_price_control_reviews'>Airport price control reviews</label></li>
      <li><input type='checkbox' name='market_investigations' id='market_investigations'><label for='market_investigations'>Market investigations</label></li>
      <li><input type='checkbox' name='remittals' id='remittals'><label for='remittals'>Remittals</label></li>
      <li><input type='checkbox' name='telecommunications-price-control-appeal' id='telecommunications-price-control-appeal'><label for='telecommunications-price-control-appeal'>Telecommunications price control appeals</label></li>
      <li><input type='checkbox' name='energy-code-modification-appeal' id='energy-code-modification-appeal'><label for='energy-code-modification-appeal'>Energy code modification appeal</label></li>
      <li><input type='checkbox' name='reviews-of-undertakings-and-order' id='reviews-of-undertakings-and-order'><label for='reviews-of-undertakings-and-order'>Reviews of undertakings and order</label></li>
    </ul>
  </div>
</div>
