{{#sort_options}}
  <div class="govuk-form-group">
    <label for="order" class="result-region-header__sort-label govuk-label">Sort by</label>
    <select
      class="js-order-results govuk-select"
      name="order"
      id="order"
      aria-controls="js-search-results-info"
      data-default-sort-option={{default_value}}
      data-relevance-sort-option={{relevance_value}}
      data-module='track-select-change'>
      {{#options}}
        {{> finders/_sort_option }}
      {{/options}}
    </select>
  </div>
{{/sort_options}}
