<option
  value='{{value}}'
  {{#disabled}}
    disabled
  {{/disabled}}
  {{#selected}}
    selected
  {{/selected}}
  data-track-category='{{data_track_category}}'
  data-track-action='{{data_track_action}}'
  data-track-label='{{data_track_label}}'
  >{{label}}</option>
