<% if local_assigns[:options] %>
  <%# Ensure the select component stylesheet is loaded %>
  <div class="govuk-form-group sort-options gem-c-select">
    <label for="order" class="sort-options__label govuk-label">Sort by</label>
    <select
      class="js-order-results govuk-select sort-options__select"
      name="order"
      id="order"
      aria-controls="js-search-results-info"
      data-default-sort-option="<%= local_assigns[:default_value] %>"
      data-relevance-sort-option="<%= local_assigns[:relevance_value] %>">
      <% local_assigns[:options].each do |option| %>
        <option
          value='<%= option[:value] %>'
          <% if option[:disabled] %>
            disabled
          <% end %>
          <% if option[:selected] %>
            selected
          <% end %>
          ><%= option[:label] %></option>
      <% end %>
    </select>
  </div>
<% end %>
