<% unless i_am_a_topic_page_finder %>
  <%
    button_data_attributes = {
      ga4_expandable: "",
      ga4_event: {
        event_name: 'select_content',
        type: 'finder',
        section: "Topic",
        index_section: taxon_facet.section_index,
        index_section_count: taxon_facet.section_count,
      }
    }
  %>
  <%= render "components/expander", {
    title: "Topic",
    data_attributes: {
      ga4_filter_parent: taxon_facet.ga4_section,
      ga4_index: {
        index_section: taxon_facet.section_index,
        index_section_count: taxon_facet.section_count,
      },
    },
    button_data_attributes:
  } do %>
    <div class="js-taxonomy-select" data-ga4-change-category="update-filter select" data-ga4-section="Topic">
      <%= render "govuk_publishing_components/components/select", {
        id: 'level_one_taxon',
        label: "Topic",
        full_width: true,
        options: taxon_facet.topics
      } %>

      <div class="js-required govuk-form-group" data-ga4-section="Subtopic">
        <%= render "govuk_publishing_components/components/select", {
          id: 'level_two_taxon',
          label: "Subtopic",
          full_width: true,
          options: taxon_facet.subtopics
        } %>
      </div>
    </div>
  <% end %>
<% end %>
