<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/heading", {
        text: "Post code lookup",
        heading_level: 1
      } %>
    </div>
  </div>
</div>
