<% if sections.any? %>
  <% sections.each.with_index do |section, index| %>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        <% if index != 0 %>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <% end %>
        <h2 class="govuk-heading-m"><%= section[:heading] %></h2>
      </div>
      <div class="govuk-grid-column-full">
        <%= render "action_list", {
          items: section[:actions]
        } %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <p class="govuk-body"><%= t('checklists_results.actions.no_results') %></p>
      <p class="govuk-body">
        <a class="govuk-link" href="/brexit">
          <%= t('checklists_results.actions.more_guidance') %>
        </a>
      </p>
    </div>
  </div>
<% end %>
