<div class="checklist-results-answers">
  <% if answers.present? %>
    <p class="govuk-body govuk-!-font-weight-bold">Based on your answers, we know:</p>
    <ul class="govuk-list govuk-!-margin-top-3 govuk-!-font-size-16 govuk-list--checked">
      <% answers.each do |answer| %>
        <li><%= answer[:readable_text] %></li>
      <% end %>
    </ul>
  <% end %>

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16">
    <a href="<%= find_brexit_guidance_path(filtered_params) %>" class="govuk-link">
      Change your answers
    </a>
  </p>
</div>
