<div class="checklist-results-answers">
  <% if answers.present? %>
    <p class="govuk-body govuk-!-font-weight-bold"><%= t('checklists_results.answers.list_context') %></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3 govuk-!-font-size-16">
      <% answers.each do |answer| %>
        <li><%= answer[:readable_text] %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="govuk-body govuk-!-font-size-16"><%= t('checklists_results.answers.no_answers') %></p>
  <% end %>

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-16">
    <%= render "change_answers_link" %>
  </p>
</div>
