<%= render "govuk_publishing_components/components/heading", {
  text: t('checklists_results.stay_updated.heading')
} %>

<p class="govuk-body govuk-!-margin-top-4">
  <%= sanitize( t('checklists_results.stay_updated.description') ) %>
</p>

<%= render "govuk_publishing_components/components/button", {
  text: t('checklists_results.stay_updated.sign_up'),
  href: checklist_email_signup_path(c: criteria_keys),
  inline_layout: true
} %>
