<%= render "govuk_publishing_components/components/heading", {
  text: t('checklists_results.stay_updated.heading')
} %>

<div class="govuk-!-margin-top-4">
  <%= render "govuk_publishing_components/components/govspeak", {
    content: t('checklists_results.stay_updated.description').html_safe
  } %>
</div>

<%= render "govuk_publishing_components/components/button", {
  text: t('checklists_results.stay_updated.sign_up'),
  href: checklist_email_signup_path(c: criteria_keys),
  inline_layout: true
} %>
