<%= render "govuk_publishing_components/components/heading", {
  text: t('checklists_results.stay_updated.heading')
} %>

<p class="govuk-body govuk-!-margin-top-4">
  <%= sanitize( t('checklists_results.stay_updated.description') ) %>
</p>

<%= form_tag checklist_email_signup_path(c: criteria_keys) do %>
  <%= render "govuk_publishing_components/components/button", {
    text: t('checklists_results.stay_updated.sign_up'),
    inline_layout: true
  } %>
<% end %>
