<h2 class="govuk-heading-l stay-updated__heading"><%= t('checklists_results.stay_updated.heading') %></h2>

<div class="govuk-!-margin-top-4">
  <%= render "govuk_publishing_components/components/govspeak", {
    content: t('checklists_results.stay_updated.description').html_safe
  } %>
</div>

<%= render "govuk_publishing_components/components/button", {
  text: t('checklists_results.stay_updated.sign_up'),
  href: checklist_email_signup_path(c: criteria_keys),
  data_attributes: {
    "module": "track-click",
    "track-action": t('checklists_results.stay_updated.sign_up'),
    "track-category": "StayUpdated",
    "track-label": checklist_email_signup_path(c: criteria_keys)
  }
} %>
