<% content_for :title, title %>
<% content_for :head do %>
  <% unless params[:page] %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<div class="govuk-width-container checklist-results-page">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render "govuk_publishing_components/components/title", {
        context: "Based on your answers",
        title: "Actions you may need to do for Brexit"
      } %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render 'results_answers', answers: @checklist.answers %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render 'action_sections', sections: @checklist.action_sections %>
    </div>
  </div>

  
</div>
