<% content_for :title, "Finder Frontend" %>

<%= render "govuk_publishing_components/components/title", title: "Finder Frontend" %>

<%= render "govuk_publishing_components/components/govspeak" do %>
  <p>This page is only visible in development and Heroku.</p>

  <p>The following pages are rendered by this application:</p>

  <ul>
    <li><%= link_to "How to prepare for a no deal Brexit questions", transition_checker_questions_path %></li>
  <% @rendered_pages.each do |page| %>
    <li><%= link_to page.fetch("title"), page.fetch("link") %></li>
  <% end %>
  </ul>
<% end %>
