<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Welcome</h1>
    <p class="govuk-body">Words to explain what this is go here.</p>
    <%= render "govuk_publishing_components/components/button", {
        text: "Start here",
        href: search_path,
        start: true
    } %>
  </div>
</div>
