.app-c-email-link {
  display: block;
  padding: govuk-spacing(4);
  background: govuk-colour('light-grey');

  .app-c-email-link__title {
    font-weight: bold;
  }

  .app-c-email-link__link {
    @include govuk-font(19);
  }
}
