.app-c-email-link {
  display: block;
}

.app-c-email-link--callout {
  background: govuk-colour('light-grey');
  padding: govuk-spacing(6);
}

.app-c-email-link--hidden-on-mobile {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
  }
}
