.app-c-email-link {
  display: block;
  font-weight: bold;
  padding: govuk-spacing(4);
  background: govuk-colour('grey-4');

  .app-c-email-link__title {
    font-weight: bold;
  }

  .app-c-email-link__icon {
    position: relative;
    margin-right: 5px;
    top: 5px;
  }

  .app-c-email-link__link {
    .app-c-email-link__icon {
      position: relative;
      margin-right: govuk-spacing(2);
      top: govuk-spacing(1);
      fill: $govuk-link-colour;
    }

    &:visited .app-c-email-link__icon {
      fill: $govuk-link-visited-colour;
    }

    &:hover .app-c-email-link__icon {
      fill: $govuk-link-hover-colour;
    }

    &:active .app-c-email-link__icon {
      fill: $govuk-link-active-colour;
    }

    &:focus .app-c-email-link__icon {
      fill: $govuk-focus-text-colour;
    }
  }
}
