.app-c-expander {
  padding: 0 0 govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
  border-bottom: 1px solid govuk-colour("light-grey", $legacy: "grey-3");
}

.app-c-expander__title {
  @include govuk-font(19);
  cursor: pointer;
}

.app-c-expander__content {
  padding: govuk-spacing(2) 13px;

  .govuk-form-group:last-child {
    margin-bottom: 0;
  }
}

.js-enabled {
  .app-c-expander__heading {
    position: relative;
    padding: 10px 8px 5px 40px;
  }

  .app-c-expander__content {
    display: none;
  }

  .app-c-expander__content--visible {
    display: block;
  }
}

.app-c-expander__icon {
  display: none;
  position: absolute;
  top: 0;
  left: 6px;
  width: 30px;
  height: 40px;
  fill: govuk-colour("black");
}

.app-c-expander__button {
  @include govuk-font(19);
  border: 0;
  background: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: $govuk-link-colour;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    text-decoration: none;
    @include govuk-focused-text;
  }

  // Extend the touch area of the button to span the heading
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.app-c-expander__selected-counter {
  @include govuk-font($size: 14);
  color: $govuk-text-colour;
  margin-top: 3px;
}

.js-enabled {
  [aria-expanded="true"] ~ .app-c-expander__icon--up {
    display: block;
  }

  [aria-expanded="false"] ~ .app-c-expander__icon--down {
    display: block;
  }
}
