.app-c-expander {
  border-bottom: solid 1px govuk-colour("black");
}

.app-c-expander__title {
  @include govuk-font(19, $weight: bold);
  position: relative;
  padding: govuk-spacing(2) 0;
  cursor: pointer;
}

.app-c-expander__content {
  padding: govuk-spacing(2) 0;
}

.js-enabled {
  .app-c-expander__content {
    display: none;
  }

  .app-c-expander__content--visible {
    display: block;
  }
}

.app-c-expander__icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  fill: currentColor;
}

.app-c-expander__button {
  @include govuk-font(19, $weight: bold);
  position: relative;
  width: 100%;
  border: 0;
  padding: govuk-spacing(2) govuk-spacing(6) govuk-spacing(2) 0;
  background: none;
  text-align: left;
  cursor: pointer;

  &:focus {
    @include govuk-focused-text;
  }
}

.js-enabled {
  [aria-expanded="true"] .app-c-expander__icon--up {
    display: block;
  }

  [aria-expanded="false"] .app-c-expander__icon--down {
    display: block;
  }
}
