@import "govuk_publishing_components/individual_component_support";

.app-c-filter-summary {
  padding-bottom: govuk-spacing(5);
  border-bottom: 1px solid $govuk-border-colour;
}

.app-c-filter-summary__heading {
  margin-bottom: govuk-spacing(2);
  @include govuk-font(16);
}

.app-c-filter-summary__remove-filters {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  gap: govuk-spacing(2);
}

.app-c-filter-summary__remove-filter {
  border: 1px solid $govuk-border-colour;
  border-radius: govuk-em(5, 16px);
  padding: govuk-spacing(1) govuk-spacing(2);
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $govuk-text-colour;
  background-color: govuk-colour("light-grey");
  @include govuk-font(19);

  &:focus {
    background-color: $govuk-focus-colour;
    outline: 2px $govuk-text-colour solid;
    outline-offset: 0;
    border-color: $govuk-text-colour;
  }

  &:hover {
    outline: 1px $govuk-text-colour solid;
    outline-offset: 0;
    border-color: $govuk-text-colour;
  }

  &::before {
    margin-top: 1px;
    content: "\00d7";
    padding-right: govuk-spacing(1);
    @include govuk-font(24);
  }
}
