@import "govuk_publishing_components/individual_component_support";
@import "mixins/chevron";

.app-c-filter-panel {
  padding-bottom: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);
  border-bottom: 1px solid $govuk-border-colour;
}

.app-c-filter-panel__content {
  background-color:  govuk-colour("light-grey");
  padding: 0 govuk-spacing(3);
  margin-top: govuk-spacing(2);

  // GOV.UK Frontend radio and checkboxes are rendered with a transparent background, which makes
  // them look wrong on this component's grey background. This is intentional in GOV.UK Frontend and
  // unlikely to change (see https://github.com/alphagov/govuk-frontend/issues/1625).
  .govuk-checkboxes__label, .govuk-radios__label {
    &::before {
        background-color: govuk-colour('white');
    }
  }
}

.app-c-filter-panel__header {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  align-items: baseline;
  gap: govuk-spacing(2);
}

.app-c-filter-panel__count {
  margin: 0;
  color: $govuk-secondary-text-colour;
  @include govuk-font(16, $weight: regular);
}

.app-c-filter-panel__button {
  background-color: transparent;
  color: $govuk-link-colour;
  text-decoration: none;
  border-style: none;
  padding-left: 0;
  cursor: pointer;
  @include chevron;
  @include govuk-font(19);

  &[aria-expanded="true"] {
    @include chevron(true);
  }

  &:hover {
    // Webkit does not respect `text-decoration-thickness` on <button> elements, so we add an inner
    // span to apply the underline to.
    // Possibly related to https://bugs.webkit.org/show_bug.cgi?id=257992
    .app-c-filter-panel__button-inner {
      @include govuk-link-decoration;
      @include govuk-link-hover-decoration;
    }
  }

  &:focus,
  &:focus-visible {
    text-decoration: none;
    background-color: $govuk-focus-colour;
    @include govuk-link-hover-decoration;
    @include govuk-focused-text;

    .app-c-filter-panel__button-inner {
      text-decoration: none;
    }
  }

  &::before {
    margin: 0 govuk-spacing(3) govuk-spacing(1) 0;
  }
}

.app-c-filter-panel__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: govuk-spacing(2);
  padding: govuk-spacing(3) 0;
}

.app-c-filter-panel__action--submit {
  flex: 2 0 60%;
  margin-bottom: 0;
}

.app-c-filter-panel__action--reset {
  flex: 1 0 30%;
  white-space: nowrap;
  padding: govuk-spacing(1) 0;
  text-align: center;

  @include govuk-font(19);
}
