@import "govuk_publishing_components/individual_component_support";

.app-c-filter-panel__content {
  background-color:  govuk-colour("light-grey");
  padding: govuk-spacing(3);
  margin-top: govuk-spacing(2);
}

.app-c-filter-panel__header {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  align-items: center;
  gap: govuk-spacing(2);

  .gem-c-heading {
    font-weight: normal;
  }

  .app-c-filter-panel__button {
    background-color: transparent;
    color: $govuk-link-colour;
    text-decoration: none;
    border-style: none;
    @include govuk-font(19);

    &:focus,
    &:focus-visible {
      background-color: $govuk-focus-colour;
      @include govuk-link-hover-decoration;
      @include govuk-focused-text;
    }

    &:hover {
      cursor: pointer;
      color: $govuk-link-hover-colour;
    }
  }

  .app-c-filter-panel__button[aria-expanded="true"] .app-c-filter-panel__button-icon {
    transform: translateY(0) rotate(-135deg);
  }

  .app-c-filter-panel__button-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    height: 0.5rem;
    pointer-events: none;
    transform: translateY(-50%) rotate(45deg);
    width: 0.5rem;
    display: inline-block;
    vertical-align: baseline;
    margin-right: govuk-spacing(1);
  }
}

.app-c-filter-panel__section {
  border-top: 1px solid $govuk-border-colour;
  padding-top: 20px;
  margin-bottom: 20px;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  .govuk-details {
    margin: 0;

    &__text {
      border-left: none;
      padding-left: 0;
      margin: 0;
      padding-bottom: 0;
    }

    &[open] .govuk-details__summary::before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 10px;
      left: 0;
      position: relative;
      vertical-align: middle;
      width: 10px;
      border-color: $govuk-text-colour;
      clip-path: unset;

      top: 0;
      transform: rotate(-45deg);
    }

    .govuk-details__summary::before {
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 10px;
      left: 0;
      position: relative;
      vertical-align: middle;
      width: 10px;
      border-color: $govuk-text-colour;
      clip-path: unset;

      top: -5px;
      transform: rotate(135deg);
    }

    .govuk-details__summary-text {
      display: flex;
      width: 100%; 
      color: $govuk-text-colour;
      padding-left: 10px;
      text-decoration: none;
      @include govuk-font(19, $weight: bold);
    }
  }

  .govuk-details__summary, .govuk-fieldset__legend {
    display: flex;
    width: 100%;
    padding-left: 0;

    &-text, .govuk-fieldset__heading {
      display: flex;
      width: 100%;
    }
  }

  .govuk-checkboxes__label, .govuk-radios__label {
    &::before {
      background-color: govuk-colour('white');
    }
  }
}

.app-c-filter-panel__section-header {
  display: flex;
  width: 100%;
  margin: 0;
}

.app-c-filter-panel__section-title {
  flex-grow: 1;
}

.app-c-filter-panel__section-count {
  @include govuk-font(16, $weight: regular);
  line-height: 1.6;
}

.app-c-filter-panel {
  .govuk-button-group {
    margin-bottom:0;

    .govuk-button {
      flex-grow: 1;
    }

    .govuk-link {
      text-align: center;
      flex-basis: 35%
    }
  }
}

.border-hack {
  border-bottom: 1px solid $govuk-border-colour;;
}