@import "govuk_publishing_components/individual_component_support";
@import "mixins/chevron";

.app-c-filter-section {
  border-bottom: 1px solid $govuk-border-colour;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &[open] .app-c-filter-section__summary {
    @include chevron(true);
  }
}

.app-c-filter-section__summary {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: $govuk-text-colour;
  list-style: none;
  padding: govuk-spacing(1) 0;
  @include chevron;

  // Ensure default disclosure triangle does not get shown in browsers that aren't spec-conformant
  // around `list-style: none` (current Webkit and some older other browsers)
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &:hover .app-c-filter-section__summary-heading {
    @include govuk-link-decoration;
    @include govuk-link-hover-decoration;
  }

  &:focus .app-c-filter-section__summary-heading {
    background-color: $govuk-focus-colour;
    @include govuk-focused-text;
  }

  &:focus-visible {
    outline: none;
  }
}

.app-c-filter-section__summary-heading {
  margin-left: govuk-spacing(3);
  @include govuk-font(19, $weight: bold);
}

.app-c-filter-section__summary-status {
  padding-right: govuk-spacing(1);
  flex-grow: 1;
  text-align: right;
  @include govuk-font(16, $weight: regular);
}
