.app-c-filter-summary {
  padding-bottom: govuk-spacing(1);
  border-top: 1px solid govuk-functional-colour(border);
}

.app-c-filter-summary__heading {
  margin-bottom: govuk-spacing(2);
  @include govuk-font(19);
}

.app-c-filter-summary__remove-filters {
  list-style-type: none;
  margin-block-start: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: govuk-spacing(2);
}

.app-c-filter-summary__remove-filter {
  border: 1px solid govuk-functional-colour(border);
  border-radius: govuk-em(5, 16px);
  padding: govuk-spacing(1) govuk-spacing(2);
  text-decoration: none;
  display: flex;
  align-items: center;
  color: govuk-functional-colour(text);
  background-color: govuk-colour("black", $variant: "tint-95");
  @include govuk-font(19);

  &:focus {
    background-color: govuk-functional-colour(focus);
    outline: 2px govuk-functional-colour(text) solid;
    outline-offset: 0;
    border-color: govuk-functional-colour(text);
  }

  &:hover {
    outline: 1px govuk-functional-colour(text) solid;
    outline-offset: 0;
    border-color: govuk-functional-colour(text);
  }

  &::before {
    margin-top: 1px;
    content: "\00d7";
    padding-right: govuk-spacing(1);
    font-size: 22px;
  }
}

.app-c-filter-summary__clear-filters {
  @include govuk-font(19);
}
