@import "govuk_publishing_components/individual_component_support";

.app-mobile-filters-link {
  display: none;

  .js-enabled & {
    display: inline-block;
    margin-left: govuk-spacing(3);
    margin-bottom: govuk-spacing(4);
    text-decoration: none;

    @include govuk-typography-weight-bold;
    @include govuk-media-query($from: tablet) {
      display: none;
    }

    position: relative;
  }

  &[aria-expanded="false"] ~ .mobile-filters-expander__icon--down {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  &[aria-expanded="true"] ~ .mobile-filters-expander__icon--up {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }
}

// facet container should be hidden on mobile if
// javascript is available
.js-enabled .facets {
  @include govuk-media-query($until: tablet) {
    display: none;

    &.facets--visible {
      display: block;
    }
  }
}

// if javascript doesn't run we don't need to show this block
.facets__header {
  display: none;
}

.facets__footer {
  display: none;
}

.facets__clear-link {
  display: none;
}

.facets__tags-block {
  display: none;
}

// all filter styles are applicable on mobile only
// and when javascript is enabled
@include govuk-media-query($until: tablet) {
  .js-enabled {
    .facets__box {
      border-left: 5px solid #b1b4b6;
      padding-left: govuk-spacing(2);
      margin-bottom: govuk-spacing(3);
    }

    .facets__header {
      padding: 0 0 govuk-spacing(3) 0;
      border-bottom: 1px solid $govuk-border-colour;
      @supports (display: grid) {
        display: grid;
        grid-auto-flow: column;
      }
    }

    .facets__footer {
      display: block;
      margin-top: govuk_spacing(3);
      margin-bottom: govuk_spacing(3);
    }

    .facets__return-link {
      text-decoration: none;
      @supports (display: grid) {
        justify-self: end;
        align-self: start;
      }
    }

    .facets__clear-link {
      display: inline-block;
      margin-top: govuk-spacing(2);
      text-decoration: none;
    }

    .facets__tags-block {
      display: block;
    }
  }
}

.mobile-filters-expander__icon {
  display: none;
  position: absolute;
  top: -2px;
  left: -8px;
  width: 25px;
  height: 25px;
  fill: #0b0c0c;
}
