@import "govuk-frontend/helpers/focusable";
@import "govuk-frontend/settings/measurements";
@import "govuk-frontend/settings/colours-applied";

.app-c-option-select {
  background-color: $grey-3;
  padding: 5px;
  margin-bottom: $gutter;

  @include media(desktop) {
    // Redefine scrollbars on desktop where these lists are scrollable
    // so they are always visible in option lists
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;

      // scss-lint:disable ColorVariable
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  &:focus {
    outline: 3px solid $yellow;
  }

  .container-head {
    padding: 0 5px;
  }

  .option-select-label {
    @include core-19;
    position: relative;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 5px;
  }

  .options-container {
    position: relative;
    height: 200px;
    background-color: $page-colour;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .options-container__inner {
    padding: $gutter-one-quarter;
  }

  .app-c-option-select__filter {
    display: none;

    .govuk-form-group {
      margin-bottom: $gutter-one-third;
    }
  }

  .js-enabled & {
    padding: 0 0 1px;

    .js-selected-counter {
      @include core-14;
    }

    .options-container {
      border: 5px solid $grey-3;
    }

    // styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse
    &.js-collapsible {
      .app-c-option-select__button {
        position: relative;
        z-index: 100;
        border: none;
        display: block;
        width: 100%;
        text-align: left;
        cursor: pointer;
        margin-bottom: -1px;
        padding: 5px 8px;
        background-color: $grey-3;

        &:hover {
          background-color: $grey-2;
        }

        &:hover + .options-container {
          border-color: $grey-2;
        }

        &[disabled] {
          background-image: none;
          color: inherit;
        }

        &:focus {
          @include govuk-focusable;
        }
      }

      &.js-closed {
        button {
          background-position: right -73px;
        }

        .options-container {
          display: none;
        }
      }
    }

    .app-c-option-select__filter {
      display: block;
    }
  }

  // This is a temporary overwrite for checkboxes
  // These styles should be removed in favour of small checkboxes from the Design System
  .govuk-checkboxes__item {
    min-height: 26px;
    margin-bottom: 10px;
    padding: 0 0 0 26px;
  }

  .govuk-checkboxes__item:last-child,
  .govuk-checkboxes__item:last-of-type {
    margin-bottom: 0;
  }

  .govuk-checkboxes__input {
    top: 5px;
    left: 0;
    width: 26px;
    height: 26px;
  }

  .govuk-label {
    font-size: 16px;
  }

  .govuk-checkboxes__label {
    padding: 8px 5px 2px 9px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::before {
    top: 5px;
    width: 26px;
    height: 26px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::after {
    top: 12px;
    left: 5.5px;
    width: 12px;
    height: 5px;
    border-width: 0 0 3px 3px;
  }

  .gem-c-checkboxes {
    margin: 0;
  }
}

.app-c-option-select__icon {
  display: none;
  position: absolute;
  top: 0;
  right: -40px;
  width: 30px;
  height: 100%;
  fill: currentColor;
}

.js-enabled .app-c-option-select__icon--up {
  display: block;
}

.js-closed {
  .app-c-option-select__icon--up {
    display: none;
  }

  .app-c-option-select__icon--down {
    display: block;
  }
}
