.app-c-option-select {
  background-color: govuk-colour("grey-3");
  padding: 5px;
  margin-bottom: $gutter;

  @include media(desktop) {
    // Redefine scrollbars on desktop where these lists are scrollable
    // so they are always visible in option lists
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;

      // scss-lint:disable ColorVariable
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  &:focus {
    outline: 3px solid $yellow;
  }

  // This is a temporary overwrite for checkboxes
  // These styles should be removed in favour of small checkboxes from the Design System
  .govuk-checkboxes__item {
    min-height: 26px;
    margin-bottom: 10px;
    padding: 0 0 0 26px;
  }

  .govuk-checkboxes__item:last-child,
  .govuk-checkboxes__item:last-of-type {
    margin-bottom: 0;
  }

  .govuk-checkboxes__input {
    top: 5px;
    left: 0;
    width: 26px;
    height: 26px;
  }

  .govuk-label {
    font-size: 16px;
  }

  .govuk-checkboxes__label {
    padding: 8px 5px 2px 9px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::before {
    top: 5px;
    width: 26px;
    height: 26px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::after {
    top: 12px;
    left: 5.5px;
    width: 12px;
    height: 5px;
    border-width: 0 0 3px 3px;
  }

  .gem-c-checkboxes {
    margin: 0;
  }
}

.app-c-option-select__container-head {
  padding: 0 5px;
}

.app-c-option-select__label {
  @include govuk-font(19, $weight: bold);
  position: relative;
  margin-right: 40px;
  padding-top: 5px;
}

.app-c-option-select__icon {
  display: none;
  position: absolute;
  top: 0;
  right: -40px;
  width: 30px;
  height: 100%;
  fill: currentColor;
}

.app-c-option-select__container {
  position: relative;
  height: 200px;
  background-color: govuk-colour("white");
  overflow-y: auto;
  overflow-x: hidden;
}

.app-c-option-select__container-inner {
  padding: $gutter-one-quarter;
  padding-top: govuk-spacing(1);
}

.app-c-option-select__filter {
  display: none;

  .govuk-form-group {
    padding-top: govuk-spacing(2);
    margin-bottom: $gutter-one-third;
  }
}

.js-enabled {
  .app-c-option-select {
    padding: 0 0 1px;
  }

  .app-c-option-select__container {
    border: 5px solid govuk-colour("grey-3");
  }

  .app-c-option-select__filter {
    display: block;
  }

  .app-c-option-select__icon--up {
    display: block;
  }
}

// styles for collapsibleness. .js-collapsible is added by the javascript if the browser is not ie6/7 in which case these don't collapse
.js-collapsible {
  .app-c-option-select__button {
    position: relative;
    z-index: 100;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 5px 8px;
    background-color: govuk-colour("grey-3");

    &:hover {
      background-color: govuk-colour("grey-2");
    }

    &:hover + .app-c-option-select__container {
      border-color: govuk-colour("grey-2");
    }

    &[disabled] {
      background-image: none;
      color: inherit;
    }

    &:focus {
      @include govuk-focusable;
    }
  }

  &.js-closed {
    .app-c-option-select__container {
      display: none;
    }

    .app-c-option-select__icon--up {
      display: none;
    }

    .app-c-option-select__icon--down {
      display: block;
    }
  }
}
