$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import 'reset';

// see /component-guide for sass imports and
// https://github.com/alphagov/govuk_publishing_components/blob/master/docs/install-and-use.md#import-sass-for-individual-components
// for guidance
@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/component_support';
@import 'govuk_publishing_components/components/back-link';
@import 'govuk_publishing_components/components/breadcrumbs';
@import 'govuk_publishing_components/components/button';
@import 'govuk_publishing_components/components/checkboxes';
@import 'govuk_publishing_components/components/details';
@import 'govuk_publishing_components/components/document-list';
@import 'govuk_publishing_components/components/error-message';
@import 'govuk_publishing_components/components/feedback';
@import 'govuk_publishing_components/components/govspeak';
@import 'govuk_publishing_components/components/hint';
@import 'govuk_publishing_components/components/input';
@import 'govuk_publishing_components/components/inset-text';
@import 'govuk_publishing_components/components/inverse-header';
@import 'govuk_publishing_components/components/label';
@import 'govuk_publishing_components/components/metadata';
@import 'govuk_publishing_components/components/phase-banner';
@import 'govuk_publishing_components/components/previous-and-next-navigation';
@import 'govuk_publishing_components/components/radio';
@import 'govuk_publishing_components/components/search';
@import 'govuk_publishing_components/components/select';
@import 'govuk_publishing_components/components/share-links';
@import 'govuk_publishing_components/components/skip-link';
@import 'govuk_publishing_components/components/step-by-step-nav-header';
@import 'govuk_publishing_components/components/subscription-links';
@import 'govuk_publishing_components/components/title';

@import 'components/*';
@import 'finder_frontend';
@import 'views/search';
@import 'views/brexit_checker_results_page';
@import 'views/brexit_checker_account_signup';
