$govuk-compatibility-govuktemplate: false;
$govuk-use-legacy-palette: false;
$govuk-new-link-styles: true;
$govuk-use-legacy-font: false;

// This flag stops the font from being included in this application's
// stylesheet - the font is being served by Static across all of GOV.UK, so is
// not needed here.
$govuk-include-default-font-face: false;

@import "reset";

// see /component-guide for sass imports and
// https://github.com/alphagov/govuk_publishing_components/blob/master/docs/install-and-use.md#import-sass-for-individual-components
// for guidance
@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/components/checkboxes";
@import "govuk_publishing_components/components/document-list";
@import "govuk_publishing_components/components/error-summary";
@import "govuk_publishing_components/components/govspeak";
@import "govuk_publishing_components/components/inverse-header";
@import "govuk_publishing_components/components/metadata";
@import "govuk_publishing_components/components/phase-banner";
@import "govuk_publishing_components/components/previous-and-next-navigation";
@import "govuk_publishing_components/components/radio";
@import "govuk_publishing_components/components/select";
@import "govuk_publishing_components/components/step-by-step-nav-header";
@import "govuk_publishing_components/components/subscription-links";

@import "components/*";
@import "finder_frontend";
@import "views/search";
