$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import 'reset';
@import 'govuk_publishing_components/all_components';
@import 'components/*';
@import 'finder_frontend';
@import 'views/search';
@import 'views/brexit_checker_results_page';
