@import "not-ie-conditional";
@import "reset";
@import "govuk_publishing_components/all_components";
@import "components/*";

.document {
  border-bottom: solid 1px $govuk-border-colour;
  padding: govuk-spacing(3) 0;

  .document__link {
    @include govuk-font(19, $weight: bold);
    margin: 0;
    text-decoration: none;

    &.document-heading--pinned {
      @include govuk-font($size: 24, $weight: bold);
    }
  }

  dl {
    margin: 0;

    dt, dd {
      @include govuk-font(14);
      margin-left: 0;
    }

    dt {
      display: none;

      &.metadata-label {
        display: inline-block;
      }
    }

    dd {
      margin-right: govuk-spacing(2);
      display: inline-block;
    }
  }

  p.historic {
    @include govuk-font(14);
    padding: 0 0 3px;
    color: $govuk-secondary-text-colour;
  }
}

.document--top {
  border: 1px solid govuk-colour('grey-2');
  padding: govuk-spacing(6);
  margin-bottom: govuk-spacing(3);
}

.document__heading--top {
  @include govuk-font(16, $weight: bold);
  margin-bottom: govuk-spacing(3);
}

.document__link--top {
  @include govuk-font(24, $weight: bold);
  display: block;
  margin-top: govuk-spacing(2);
}

#finder-frontend {
  margin-bottom: govuk-spacing(8);

  .signup-content p {
    margin: govuk-spacing(3) 0;
    @include govuk-font(19);

    @include media(tablet) {
      margin: govuk-spacing(6) 0;
      max-width: $two-thirds;
    }
  }

  legend {
    color: $govuk-text-colour;
    margin-bottom: govuk-spacing(3);
    @include media(tablet) {
      margin-bottom: govuk-spacing(4);
    }
  }

  strong {
    font-weight: 600;
  }

  header {
    .summary {
      margin-bottom: govuk-spacing(6);
      @include govuk-font(19);
    }

    .email-link {
      margin-bottom: govuk-spacing(6);

      a {
        @include govuk-font(19, $weight: bold);
        text-decoration:none;
        background: image-url('mail-icon.png') 0 40% no-repeat;
        @include device-pixel-ratio(2.0) {
          background-image: image-url('mail-icon-retina.png');
          background-size: govuk-spacing(4) 14px;
        }
        padding-left: govuk-spacing(6);
      }
    }

    .logo {
      margin: govuk-spacing(6) 0;
    }

    #logo-image{
      max-width: 100%
    }

    .related-links {
      @include govuk-font(16, $weight: bold);
      margin-top: govuk-spacing(8);
      margin-bottom: govuk-spacing(8);
      list-style:none;

      li {
        margin-bottom:4px;
        @include media(tablet) {
          margin-bottom:8px;
        }

        a:link,
        a:visited {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .filter-form {
    .js-enabled & .button__wrapper {
      display:none;
    }

    .js-required {
      display: none;
    }

    p {
      max-width: $full-width;
      @include govuk-font(16);
      margin-bottom: govuk-spacing(6);
    }

    .govuk-select {
      width: 100%;
    }
  }

  .help-text {
    @include govuk-font(14);
    display:block;
    padding: govuk-spacing(2)/2 0;
    @include media(tablet) {
      padding: govuk-spacing(2) 0;
    }
  }

  .form {
    @include govuk-font(19);
    @include media(tablet) {
      max-width: $two-thirds;
    }

    p {
      max-width: $full-width;
    }

    fieldset.invalid {
      border-left: solid 4px $govuk-error-colour;
      padding-left: govuk-spacing(3);
      margin-left: -govuk-spacing(3) - 4;
    }

    .validation-message {
      color: $govuk-error-colour;
      font-weight: bold;
      padding: govuk-spacing(3);
      margin-left: -govuk-spacing(3) - 4;
      border-left: solid 4px $govuk-error-colour;
    }
  }

  .search-results-title {
    border-bottom: 1px solid govuk-colour('black');
    padding-bottom: govuk-spacing(4);
  }

  .live-search-loading-message {
    margin-bottom: govuk-spacing(4);
    display: none;
  }

  .filtered-results {
    .result-info {
      vertical-align: baseline;
      margin: 0 0 govuk-spacing(4) 0;
      border-bottom: solid 1px govuk-colour("black");
    }

    .govuk-checkboxes__conditional--hidden {
      display: block;
    }

    .feed {
      @include govuk-font(14);
      display: block;
      margin-bottom: govuk-spacing(6);
      span {
        padding-right: govuk-spacing(2) / 2;
      }
      a {
        background: image-url('feed-icon-black.png') 0 40% no-repeat;
        font-weight: bold;
        padding: 0 govuk-spacing(2) 0 govuk-spacing(3);
        text-decoration: none;
      }
    }

    .finder-results {
      list-style-type: none;
      padding-left: 0;
    }

    .filtered-results__group {
      margin-bottom: govuk-spacing(7);

      .filtered-results__facet-heading {
        @include govuk-font($size: 24, $weight: bold);
        margin-bottom: govuk-spacing(3);
      }
    }
  }

  .facet-tags {
    padding-bottom: govuk-spacing(1);
  }

  .facet-tags__group {
    padding: 5px;

    &:nth-child(odd) {
      background-color: govuk-colour("grey-4");
    }
  }

  .facet-tags__wrapper {
    vertical-align: middle;
    margin: 5px 0;

    @include media(tablet) {
      display: inline-block;
    }
  }

  .facet-tags__wrapper:first-of-type .facet-tags__preposition:first-of-type {
    font-weight: bold;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .facet-tags__preposition {
    padding: 0 5px 5px 2px;
    vertical-align: middle;
    text-transform: lowercase;

    @include media(tablet) {
      display: table-cell;
      padding: 0 5px 0 2px;
    }
  }

  .facet-tag {
    display: block;
    position: relative;
    padding: 5px;
    border: 1px solid govuk-colour("grey-1");
    border-radius: 5px;
    background-color: govuk-colour("grey-4");

    .js-enabled & {
      padding: 8px 7px 7px 23px;
    }

    @include media(tablet) {
      display: table-cell;
    }
  }

  .facet-tag__text {
    display: inline-block;
    margin-left: 0;

    .js-enabled & {
      margin-left: 5px;
    }
  }

  .facet-tag__remove {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    @include govuk-font(16, $weight: bold);
    text-align: left;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    background: none;
    border: 0;

    .js-enabled & {
      display: inline-block;
    }
  }
}

.facet-toggle {
  display: none;
  margin-bottom: govuk-spacing(6);
}

.js-enabled {
  .facet-toggle {
    display: inline-block;
  }

  .facet-toggle__content {
    display: block;

    &.facet-toggle__content--hide {
      display: none;
    }
  }

  .facet-toggle--only-on-mobile {
    .facet-toggle {
      @include media(tablet) {
        display: none;
      }
    }

    .facet-toggle__content.facet-toggle__content--hide {
      @include media(tablet) {
        display: block;
      }
    }
  }
}

.finder-frontend-content {
  .app-c-search-page-heading {
    @include govuk-font(48, $weight: bold);
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(4, "bottom");
    color: govuk-colour("black");
  }
}

.govspeak-wrapper {
  @include govuk-responsive-margin(4, "bottom");
}

.result-region-header__counter {
  @include govuk-font(19);
  white-space: nowrap;
  margin-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(2);
  }
}

.result-region-header__sort-label {
  @include govuk-responsive-padding(1, "right");
  display: inline-block;
  margin-bottom: govuk-spacing(3);
}

.result-info {
  margin-bottom: govuk-spacing(2);

  .govuk-grid-column-two-thirds {
    text-align: left;

    @include govuk-media-query($from: tablet) {
      text-align: right;
    }
  }
}

// NOTE: Reset from element level styles inherited from the deprecated `govuk-template`.
.app-patch--search-input-override input[type="search"] {
  box-sizing: border-box;
}
