// govuk_frontend_toolkit helpers
@import "typography";
@import "measurements";
@import "grid_layout";
@import "colours";
@import "shims";
@import "css3";
@import "design-patterns/buttons";
@import "not-ie-conditional";

@import "reset";
@import "grid";
@import "components/*";
@import "govuk_publishing_components/all_components";

#wrapper {
  display: block;
  @extend %site-width-container;
}

#finder-frontend {
  margin-bottom: $gutter * 1.5;

  .signup-content p {
    margin: $gutter-half 0;
    @include core-19;

    @include media(tablet) {
      margin: $gutter 0;
      max-width: $two-thirds;
    }
  }

  legend {
    color:$text-colour;
    margin-bottom: $gutter-half;
    @include media(tablet) {
      margin-bottom: $gutter-two-thirds;
    }
  }

  strong {
    font-weight: 600;
  }

  a.button, input.button {
    @include button($button-colour);
    width: auto;
    @include bold-24;
  }

  header {
    @extend %grid-row;

    .title-and-metadata {
      @include grid-column(2/3);
    }

    .summary {
      margin-bottom: $gutter;
      @include core-19;
    }

    .email-link {
      margin-bottom: $gutter;

      a {
        @include bold-19;
        text-decoration:none;
        background: image-url('mail-icon.png') 0 40% no-repeat;
        @include device-pixel-ratio(2.0) {
          background-image: image-url('mail-icon-retina.png');
          background-size: $gutter-two-thirds 14px;
        }
        padding-left: $gutter;
      }
    }

    .logo {
      @include grid-column(1/3);
      margin: $gutter 0;
    }

    #logo-image{
      max-width: 100%
    }

    .related-links {
      @include grid-column(1/3);
      @include bold-16;
      margin-top: $gutter * 1.5;
      margin-bottom: $gutter * 1.5;
      list-style:none;

      li {
        margin-bottom:4px;
        @include media(tablet) {
          margin-bottom:8px;
        }

        a:link,
        a:visited {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .filtering {
    @extend %grid-row;
  }

  .filter-form {
    .js-enabled & .button__wrapper {
      display:none;
    }

    .js-required {
      display: none;
    }

    p {
      max-width: $full-width;
      @include core-16;
      margin-bottom: $gutter;
    }

    .govuk-select {
      width: 100%;
    }
  }

  .help-text {
    @include core-14;
    display:block;
    padding: $gutter-one-third/2 0;
    @include media(tablet) {
      padding: $gutter-one-third 0;
    }
  }

  .app-c-option-select {
    margin-bottom: $gutter;
  }

  .radio-filter {
    padding: 0 $gutter-one-third;

    label {
      margin-right:$gutter-one-third;
      @include inline-block;
    }
  }
  .radio-filter input {
    width:14px;
  }

  .form {
    @include core-19;
    @include media(tablet) {
      max-width: $two-thirds;
    }

    input.button[type=submit] {
      margin-top: $gutter-one-third;
    }

    p {
      max-width: $full-width;
    }

    fieldset.invalid {
      border-left: solid 4px $error-colour;
      padding-left: $gutter-half;
      margin-left: -$gutter-half - 4;
    }

    .validation-message {
      color: $error-colour;
      font-weight: bold;
      padding: $gutter-half;
      margin-left: -$gutter-half - 4;
      border-left: solid 4px $error-colour;
    }

    .block-label {
      display: block;
      clear: left;
      position: relative;
      background: $panel-colour;
      border: 1px solid $panel-colour;
      padding: 18px $gutter $gutter-half 45px;
      margin: 5px 0;
      cursor: pointer;

      @include media(tablet) {
        float: left;
      }

      &:hover {
        border-color: $black;
      }

      &.selected {
        background: $white;
        border-color: $black;
      }

      &.focused {
        outline: 3px solid $yellow;

        input[type=checkbox]:focus {
          outline: none;
        }
      }
    }
  }

  .button {
    @include button($button-colour);
    width: auto;
    @include bold-24;
  }

  .search-results-title {
    border-bottom: 1px solid govuk-colour('black');
    padding-bottom: govuk-spacing(4);
  }

  .live-search-loading-message {
    margin-bottom: govuk-spacing(4);
    display: none;
  }

  .filtered-results {
    .result-info {
      @include core-16;
      vertical-align: baseline;
      margin: 0 0 $gutter 0;

      .result-count {
        @include bold-27;
        margin-right: $gutter-one-third / 2;
      }
    }

    .govuk-checkboxes__conditional--hidden {
      display: block;
    }

    .feed {
      @include core-14;
      display: block;
      margin-bottom: $gutter;
      span {
        padding-right: $gutter-one-third / 2;
      }
      a {
        background: image-url('feed-icon-black.png') 0 40% no-repeat;
        font-weight: bold;
        padding: 0 $gutter-one-third 0 $gutter-half;
        text-decoration: none;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .filtered-results__group {
      margin-bottom: govuk-spacing(7);

      .filtered-results__facet-heading {
        @include govuk-font($size: 24, $weight: bold);
        margin-bottom: $gutter-half;
      }
    }

    .document {
      border-bottom: solid 1px $border-colour;
      padding: $gutter-half 0;

      &:first-child {
        padding-top:0;
        margin-top:-2px;
      }

      h3 {
        @include bold-19;
        margin: 0;

        a {
          text-decoration: none;
        }

        &.document-heading--pinned {
          @include govuk-font($size: 24, $weight: bold);
        }
      }

      dl {
        margin: 0;

        dt, dd {
          @include core-14;
          margin-left: 0;
        }

        dt {
          display: none;

          &.metadata-date-label {
            @include inline-block;
          }
        }

        dd {
          margin-right: $gutter-one-third;
          @include inline-block;
        }
      }

      p.historic {
        @include core-14;
        padding: 0 0 3px;
        color: $secondary-text-colour;
      }
    }
  }

  .facet-tags {
    margin-top: $gutter-one-third;
    margin-bottom: $gutter;
  }

  .facet-tags__group {
    padding: 5px;

    &:nth-child(odd) {
      background-color: $grey-4;
    }
  }

  .facet-tags__wrapper {
    vertical-align: middle;
    margin: 5px 0;

    @include media(tablet) {
      display: inline-block;
    }
  }

  .facet-tags__wrapper:first-of-type .facet-tags__preposition:first-of-type {
    font-weight: bold;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .facet-tags__preposition {
    padding: 0 5px 5px 2px;
    vertical-align: middle;
    text-transform: lowercase;

    @include media(tablet) {
      display: table-cell;
      padding: 0 5px 0 2px;
    }
  }

  .facet-tag {
    display: block;
    position: relative;
    padding: 5px;
    border: 1px solid $grey-1;
    border-radius: 5px;
    background-color: $grey-4;

    .js-enabled & {
      padding: 8px 7px 7px 23px;
    }

    @include media(tablet) {
      display: table-cell;
    }
  }

  .facet-tag__text {
    display: inline-block;
    margin-left: 0;

    .js-enabled & {
      margin-left: 5px;
    }
  }

  .facet-tag__remove {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    @include bold-16;
    text-align: left;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    background: none;
    border: 0;

    .js-enabled & {
      display: inline-block;
    }
  }
}

.clear-search {
  display: none;
}

.js-enabled .clear-search--active {
  display: inline-block;
}

.facet-toggle {
  display: none;
}

.js-enabled {
  .facet-toggle {
    display: inline-block;
    margin-bottom: $gutter;

    @include media(tablet) {
      display: none;
    }
  }

  .facet-toggle__content--hidden {
    display: none;

    @include media(tablet) {
      display: block;
    }
  }
}
