.document {
  border-bottom: solid 1px $govuk-border-colour;
  padding: govuk-spacing(3) 0;
}

.document__link {
  @include govuk-font(19, $weight: bold);
  margin: 0;
  text-decoration: none;

  &.document-heading--pinned {
    @include govuk-font($size: 24, $weight: bold);
  }
}

.historic {
  @include govuk-font(14);
  padding: 0 0 3px;
  color: $govuk-secondary-text-colour;
}

.document-metadata {
  margin: 0;
}

.document-metadata__label,
.document-metadata__value {
  @include govuk-font(14);
  display: inline-block;
  margin-left: 0;
}

.document-metadata__value {
  margin-right: govuk-spacing(2);
}

.document--top {
  border: 1px solid govuk-colour('grey-2');
  padding: govuk-spacing(6);
  margin-bottom: govuk-spacing(3);
}

.document__heading--top {
  @include govuk-font(16, $weight: bold);
  margin-bottom: govuk-spacing(3);
}

.document__link--top {
  @include govuk-font(24, $weight: bold);
  display: block;
  margin-top: govuk-spacing(2);
}

.metadata-summary {
  @include govuk-font(19);
  margin-bottom: govuk-spacing(6);
}

.finder-logo {
  margin: govuk-spacing(6) 0;
}

.finder-logo__image {
  max-width: 100%;
}

.related-links {
  margin-top: govuk-spacing(8);
  margin-bottom: govuk-spacing(8);
}

.related-links__item {
  margin-bottom: 4px;
  list-style: none;

  @include media(tablet) {
    margin-bottom: 8px;
  }
}

.related-links__link {
  @include govuk-font(16, $weight: bold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.filter-form {
  .js-enabled & .button__wrapper {
    display:none;
  }

  .js-required {
    display: none;
  }

  .govuk-select {
    width: 100%;
  }
}

.signup-choices {
  @include govuk-font(19);
  margin-top: 50px;

  @include media(tablet) {
    max-width: $two-thirds;
  }

  fieldset.invalid {
    border-left: solid 4px $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-left: -govuk-spacing(3) - 4;
  }
}

.signup-choices__message {
  margin-bottom: govuk-spacing(3);
  padding: govuk-spacing(3);
  color: $govuk-error-colour;
  font-weight: bold;
  border-left: solid 4px $govuk-error-colour;
}

.live-search-loading-message {
  margin-bottom: govuk-spacing(4);
  display: none;
}

.finder-results {
  list-style-type: none;
  padding-left: 0;

  .debug-link {
    color: green;
    word-wrap: break-word;
  }
  .debug-info {
    color: red;
    span {
      display: block;
      min-width: 150px;
    }
  }
}

.filtered-results__group {
  margin-bottom: govuk-spacing(7);

  .filtered-results__facet-heading {
    @include govuk-font($size: 24, $weight: bold);
    margin-bottom: govuk-spacing(3);
  }
}

#finder-frontend {
  margin-bottom: govuk-spacing(8);
}

.facet-tags {
  padding-bottom: govuk-spacing(1);
}

.facet-tags__group {
  padding: 5px;

  &:nth-child(odd) {
    background-color: govuk-colour("grey-4");
  }
}

.facet-tags__wrapper {
  vertical-align: middle;
  margin: 5px 0;

  @include media(tablet) {
    display: inline-block;
  }
}

.facet-tags__wrapper:first-of-type .facet-tags__preposition:first-of-type {
  font-weight: bold;

  &::first-letter {
    text-transform: uppercase;
  }
}

.facet-tags__preposition {
  padding: 0 5px 5px 2px;
  vertical-align: middle;
  text-transform: lowercase;

  @include media(tablet) {
    display: table-cell;
    padding: 0 5px 0 2px;
  }
}

.facet-tag {
  display: block;
  position: relative;
  padding: 5px;
  border: 1px solid govuk-colour("grey-1");
  border-radius: 5px;
  background-color: govuk-colour("grey-4");

  .js-enabled & {
    padding: 8px 7px 7px 23px;
  }

  @include media(tablet) {
    display: table-cell;
  }
}

.facet-tag__text {
  display: inline-block;
  margin-left: 0;

  .js-enabled & {
    margin-left: 5px;
  }
}

.facet-tag__remove {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  @include govuk-font(16, $weight: bold);
  text-align: left;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  background: none;
  border: 0;

  .js-enabled & {
    display: inline-block;
  }
}

.facet-toggle {
  display: none;
  margin-bottom: govuk-spacing(6);
}

.js-enabled {
  .facet-toggle {
    display: inline-block;
  }

  .facet-toggle__content {
    display: block;

    &.facet-toggle__content--hide {
      display: none;
    }
  }

  .facet-toggle--only-on-mobile {
    .facet-toggle {
      @include media(tablet) {
        display: none;
      }
    }

    .facet-toggle__content.facet-toggle__content--hide {
      @include media(tablet) {
        display: block;
      }
    }
  }
}

.finder-frontend-content {
  .app-c-search-page-heading {
    @include govuk-font(48, $weight: bold);
    @include govuk-responsive-margin(2, "top");
    @include govuk-responsive-margin(4, "bottom");
    color: govuk-colour("black");
  }
}

.govspeak-wrapper {
  @include govuk-responsive-margin(4, "bottom");
}

.result-region-header__counter {
  @include govuk-font(19);
  white-space: nowrap;
  margin-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(2);
  }
}

.result-region-header__sort-label {
  @include govuk-responsive-padding(1, "right");
  display: inline-block;
  margin-bottom: govuk-spacing(3);
}

.result-info {
  margin: 0 0 govuk-spacing(4) 0;
  border-bottom: solid 1px govuk-colour("black");

  .govuk-grid-column-two-thirds {
    text-align: left;

    @include govuk-media-query($from: tablet) {
      text-align: right;
    }
  }
}

// NOTE: Reset from element level styles inherited from the deprecated `govuk-template`.
.app-patch--search-input-override input[type="search"] {
  box-sizing: border-box;
}
