// govuk_frontend_toolkit helpers
@import "typography";
@import "measurements";
@import "grid_layout";
@import "colours";
@import "shims";
@import "css3";
@import "design-patterns/buttons";
@import "not-ie-conditional";

@import "reset";
@import "grid";
@import "components/*";
@import "govuk_publishing_components/all_components";

#wrapper {
  display: block;
  @extend %site-width-container;
}

#finder-frontend {
  margin-bottom: $gutter * 1.5;

  .signup-content p {
    margin: $gutter-half 0;
    @include core-19;

    @include media(tablet) {
      margin: $gutter 0;
      max-width: $two-thirds;
    }
  }

  legend {
    color:$text-colour;
    margin-bottom: $gutter-half;
    @include media(tablet) {
      margin-bottom: $gutter-two-thirds;
    }
  }

  strong {
    font-weight: 600;
  }

  a.button, input.button {
    @include button($button-colour);
    width: auto;
    @include bold-24;
  }

  header {
    @extend %grid-row;

    .title-and-metadata {
      @include grid-column(2/3);
    }

    .summary {
      margin-bottom: $gutter;
      @include core-19;
    }

    .email-link {
      margin-bottom: $gutter;

      a {
        @include bold-19;
        text-decoration:none;
        background: image-url('mail-icon.png') 0 40% no-repeat;
        @include device-pixel-ratio(2.0) {
          background-image: image-url('mail-icon-retina.png');
          background-size: $gutter-two-thirds 14px;
        }
        padding-left: $gutter;
      }
    }

    .logo {
      @include grid-column(1/3);
      margin: $gutter 0;
    }

    #logo-image{
      max-width: 100%
    }

    .related-links {
      @include grid-column(1/3);
      @include bold-16;
      margin-top: $gutter * 1.5;
      margin-bottom: $gutter * 1.5;
      list-style:none;

      li {
        margin-bottom:4px;
        @include media(tablet) {
          margin-bottom:8px;
        }

        a:link,
        a:visited {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .filtering {
    @extend %grid-row;
  }

  .filter-form {
    .js-enabled & .button {
      display:none;
    }

    .js-required {
      display: none;
    }

    p {
      max-width: $full-width;
      @include core-16;
      margin-bottom: $gutter;
    }
  }

  .help-text {
    @include core-14;
    display:block;
    padding: $gutter-one-third/2 0;
    @include media(tablet) {
      padding: $gutter-one-third 0;
    }
  }

  .app-c-option-select {
    margin-bottom: $gutter;
  }

  .app-taxonomy-select {
    .govuk-select {
      width: 100%;
    }
  }

  .radio-filter {
    padding: 0 $gutter-one-third;

    label {
      margin-right:$gutter-one-third;
      @include inline-block;
    }
  }
  .radio-filter input {
    width:14px;
  }

  .form {
    @include core-19;
    @include media(tablet) {
      max-width: $two-thirds;
    }

    input.button[type=submit] {
      margin-top: $gutter-one-third;
    }

    p {
      max-width: $full-width;
    }

    fieldset.invalid {
      border-left: solid 4px $error-colour;
      padding-left: $gutter-half;
      margin-left: -$gutter-half - 4;
    }

    .validation-message {
      color: $error-colour;
      font-weight: bold;
      padding: $gutter-half;
      margin-left: -$gutter-half - 4;
      border-left: solid 4px $error-colour;
    }

    .block-label {
      display: block;
      clear: left;
      position: relative;
      background: $panel-colour;
      border: 1px solid $panel-colour;
      padding: 18px $gutter $gutter-half 45px;
      margin: 5px 0;
      cursor: pointer;

      @include media(tablet) {
        float: left;
      }

      &:hover {
        border-color: $black;
      }

      &.selected {
        background: $white;
        border-color: $black;
      }

      &.focused {
        outline: 3px solid $yellow;

        input[type=checkbox]:focus {
          outline: none;
        }
      }
    }
  }

  .button {
    @include button($button-colour);
    width: auto;
    @include bold-24;
  }

  .filtered-results {
    .result-info {
      @include core-16;
      vertical-align: baseline;
      border-bottom: solid 1px $border-colour;
      margin: 0 0 $gutter-half 0;
      padding-bottom: $gutter-half;

      .result-count {
        @include bold-48;
        margin-right: $gutter-one-third / 2;
      }
    }

    .feed {
      @include core-14;
      display: block;
      margin-bottom: $gutter;
      span {
        padding-right: $gutter-one-third / 2;
      }
      a {
        background: image-url('feed-icon-black.png') 0 40% no-repeat;
        font-weight: bold;
        padding: 0 $gutter-one-third 0 $gutter-half;
        text-decoration: none;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }

    .document {
      border-bottom: solid 1px $border-colour;
      padding: $gutter-half 0;

      &:first-child {
        padding-top:0;
        margin-top:-2px;
      }

      h3 {
        @include bold-19;
        margin: 0;

        a {
          text-decoration:none;
        }
      }

      dl {
        margin: 0;

        dt, dd {
          @include core-14;
          margin-left: 0;
        }

        dt {
          display: none;

          &.metadata-date-label {
            @include inline-block;
          }
        }

        dd {
          margin-right: $gutter-one-third;
          @include inline-block;
        }
      }

      p.historic {
        @include core-14;
        padding: 0 0 3px;
        color: $secondary-text-colour;
      }
    }
  }
}
