.app-c-filter-panel {
  .gem-c-option-select__container {
    background-color: transparent;
  }

  .gem-c-option-select__container {
    height: auto;
    max-height: none;
    overflow: visible;
    margin-bottom: govuk-spacing(4);
  }

  .app-c-expander__button, .gem-c-option-select__button {
    color: $govuk-text-colour;
  }

  .gem-c-option-select__selected-counter, .app-c-expander__selected-counter {
    float: right;
  }
}
