@import "colours";
@import "shims";

.filter-form,
.email-link,
.feed {
  display: none;
}
header {
  @extend %contain-floats;

  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 40px;
    padding-right: 10px;
  }
  dd {
    float: left;
    width: 70%;
  }
}
.filtered-results {
  margin-top: 20px;
  clear: both;

  h3, dl, dd, ul, li {
    margin: 0;
  }
  ul {
    padding: 0;
  }
  .document {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-colour;
    list-style: none;
  }
  h3 {
    margin-bottom: 5px;
  }
  dt {
    display: none;
  }
  dd {
    margin-right: 10px;
    display: inline-block;
  }
}
