@import "govuk_publishing_components/all_components_print";

.filter-form,
.feed {
  display: none;
}

header,
.document-metadata {
  @include govuk-clearfix;
}

.document-metadata__label {
  display: none;
}

.document-metadata__value {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
}

.filtered-results {
  margin-top: 20px;
  clear: both;

  a,
  dl,
  ul,
  li {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  .document {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
    list-style: none;
  }

  a {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
