@import 'govuk_publishing_components/govuk_frontend_support';
@import 'govuk_publishing_components/components/print/_back-link';
@import 'govuk_publishing_components/components/print/_button';
@import 'govuk_publishing_components/components/print/_feedback';
@import 'govuk_publishing_components/components/print/_govspeak';
@import 'govuk_publishing_components/components/print/_metadata';
@import 'govuk_publishing_components/components/print/_search';
@import 'govuk_publishing_components/components/print/_share-links';
@import 'govuk_publishing_components/components/print/_skip-link';
@import 'govuk_publishing_components/components/print/_subscription-links';
@import 'govuk_publishing_components/components/print/_title';

.filter-form,
.feed {
  display: none;
}

header,
.document-metadata {
  @include govuk-clearfix;
}

.document-metadata__label {
  display: none;
}

.document-metadata__value {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
}

.filtered-results {
  margin-top: 20px;
  clear: both;

  a,
  dl,
  ul,
  li {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  .document {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
    list-style: none;
  }

  a {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.brexit-checker__print-link,
.brexit-checker__share {
  display: none;
}
