<div style="position: sticky; top: 0; background-color: #d4351c; width: 100%; z-index: 999">
  <div style="padding: 10px">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag" style="background-color: #ffffff; color: #d4351c; margin-right: 5px">
          prototype
        </strong>
        <span class="govuk-phase-banner__text" style="color: #ffffff">
          This is a prototype of an integration with the <strong style="font-weight: bold"><%= ENV["PROTOTYPE_NAME"] %></strong> search engine.
        </span>
      </p>
    </div>
  </div>
</div>
