<!DOCTYPE html>
<html>
<head>
  <title>Placeholder</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="wrapper">
  <main id="content" role="main" class="finder-frontend-content">
    <div id="page">
      <%= yield %>
    </div>
  </main>
</div>

</body>
</html>
