<% title = yield :title %>

<%= content_for :head do %>
  <meta name="robots" content="noindex">
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
    title: safe_join([title, "GOV.UK"], " - "),
  } do %>
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= yield %>
        </div>
      </div>
    </div>
<% end %>
