<%= content_for :head do %>
  <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>
  <% if @content_item %>
    <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.as_hash %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
    title: "#{yield :title} - GOV.UK",
  } do %>
    <div class="govuk-width-container">
      <%= yield %>
    </div>
<% end %>
