<% title = yield :title %>

<%= content_for :head do %>
  <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml"/>
  <% if @content_item %>
    <%= render 'govuk_publishing_components/components/meta_tags', content_item: @content_item.as_hash %>
  <% end %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_public", {
    title: safe_join([title, "GOV.UK"], " - "),
    emergency_banner: render("govuk_web_banners/emergency_banner"),
    global_banner: render("govuk_web_banners/global_banner"),
  } do %>
    <div class="govuk-width-container">
      <%= yield %>
    </div>
<% end %>
